./CrowdedBackend/env
./crowdedapp/env
/CrowdedBackend/CrowdedBackend/obj/
/CrowdedBackend/CrowdedBackend/bin/
/CrowdedBackend/.idea/
/CrowdedBackend/CrowdedBackend/appsettings.json
/CrowdedBackend/CrowdedBackend/CrowdedBackend.http
/CrowdedBackend/CrowdedBackend/Properties/launchSettings.json
/CrowdedBackend/CrowdedBackend/.config/
/CrowdedBackend/CrowdedBackend.Tests/bin/
/CrowdedBackend/CrowdedBackend.Tests/obj/
/idea/